<div class="row">
    <div class="col">
        <h2>{{product.name}}</h2>
    </div>
</div>
<div class="row">
    <div class="col">
    <img src="{{product.imagePath}}" alt="{{product.name}}">
    </div>
</div>
<div class="row">
    <div class="col">
    <p>{{product.description}}</p>
</div>
</div>
<div class="row">
    <div class="col-md-2">
        <p>{{product.price}} $</p>
    </div>
    <div class="col-md-2">
        <button class="btn btn-primary">Wishlist</button>
    </div>
    <div class="col-md-4">
    <button class="btn btn-success">Add to cart</button>
</div>
</div>